.home-container {
  background-color: #313131;
  height: 100vh;
  color: white;
}

.home-content-area {
  height: 100vh;
}

.chat-area {
  background: #4c4c4c;
  max-height: 100%;

}

h2,
.header-font {
  font-family: 'Paytone One', sans-serif;
}

.home-nav-header {
  min-height: 70px;
  position: sticky;
  top: 0;
  background: #4470cc;
  z-index: 10;
  border-bottom: 2px solid #313131;
}

.home-nav-header.home-layout-nav {
  display: flex;
  place-items: center;
  background: #37589e;
}

.home-content-area .home-button-no-border {
  border: none;
  text-align: left;
  display: block;
}
