.landing.background-img {
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, rgba(49, 49, 49, 1) 100%),
    url("../../assets/background-pattern.jpeg");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.landing h1,
.landing h2,
.landing p {
  color: white;
}

.landing h1,
.landing h2 {
  font-family: 'Paytone One', sans-serif;
}

.landing h1 {
  font-size: 4em;
}

.landing p {
  font-size: 1.5em;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Paytone One', sans-serif;
}

.nav-brand-button {
  cursor: pointer;
}

.auth-forms.container {
  background: #313131;
  max-width: 700px;
}
