.messages-area {
  flex: 1;
  overflow-y: auto;
}

.message:hover {
  background: #404040de;
}

.message .username-bold {
  font-weight: bold;
}

.message .date-small {
  font-size: small;
  color: #a8a6a6;
}

.message .message-body {
  color: #e2e2e2;
}

.message .message-likes {
  background: #313131;
  width: fit-content;
  cursor: pointer;
  border: 2px solid #313131;
}

.message .message-likes:hover {
  border: 2px solid grey;
}

.message .message-delete {
  cursor: pointer;
  font-size: larger;
  color: #a8a6a6;
}

.message .message-delete:hover {
  color: white;
}

.message-list-header {
  /* position: sticky; */
  top: 0;
  background: #4470cc;
  z-index: 10;
  border-bottom: 2px solid #313131;
}

.message-list-header .channel-title-heading {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  padding: 0;
  text-align: start;
}

.message-list-header .channel-title-heading-wrapper {
  border: none;
  color: white;
  display: flex;
  align-items: center;
}
