.messages-area {
  flex: 1;
  overflow-y: auto;
}

.message:hover {
  background: #404040de;
}

.message .username-bold {
  font-weight: bold;
}

.message .date-small {
  font-size: small;
  color: #a8a6a6;
}

.message .message-body {
  color: #e2e2e2;
}

.message .message-likes {
  background: #313131;
  width: fit-content;
  cursor: pointer;
  border: 2px solid #313131;
}

.message .message-likes:hover {
  border: 2px solid grey;
}

.message .message-delete {
  cursor: pointer;
  font-size: larger;
  color: #a8a6a6;
}

.message .message-delete:hover {
  color: white;
}
