.home-container {
  background-color: #313131;
  height: 100vh;
  color: white;
}

.home-content-area {
  height: 100vh;
}

.chat-area {
  background: #4c4c4c;
  max-height: 100%;

}

h2 {
  font-family: 'Paytone One', sans-serif;
}
