.status-icon {
  border: 3px solid #313131;
  height: 20px;
  width: 20px;
  bottom: 0px;
  right: 12px;
}

.active-channel-user:hover .status-icon {
  border: 3px solid #464646;
}

.status-icon.online-green {
  background-color: rgb(18, 174, 18);
}

.status-icon.busy-red {
  background-color: rgb(255, 26, 64);
}

.status-icon.offline-empty {
  background-color: #747272;
}

.active-channel-user:hover {
  background-color: #464646;
}

.home-nav-header.channel-users-nav {
  display: flex;
  place-items: center;
  background: #37589e;
  justify-content: end;
}

.home-nav-header.channel-users-nav .status-icon {
  border: 3px solid #37579e;
}

.avatar-toggle.dropdown-toggle::after {
  display: none !important;
}
